# System files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# Node modules if we ever add any JS dependencies
node_modules/

# Environment variables
.env

# Logs
*.log

# Build output if added in the future
dist/
build//.lighthouseci/
